.top {
  color: red;
}


/*************************************************************************
ヘッダー
*************************************************************************/

.header{
  height: 80px;
  width: 100vw;
  background-color: rgba(29, 112, 66, 0.886);
}

.header-main {
  display: flex;
}